.artistbackground
{
  background-image: url("../images/thebeatles1967.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 5px;
  padding: 1em;
}


.artist img{
  
  cursor: pointer;
  
  width:  100%;
  max-width: 8em;
  height: 100%;
  max-height: 9em;
  
  border: 1px solid #FEC132;
  object-fit: cover;
  margin: 1em;

}

#artistlink 
{
  background-color: #FEC132;

  color: black;
  
  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  padding: 0.2em;
}

.artisttext
{
  color: #FEC132;
  margin-left: 58%;
  margin-right: 42%;

  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  padding: 1em;
}


.artist img:hover
{
  border: solid 4px #FEC132;
}

.container01
{
  width: 100%;
   
}

.container02
{
  margin-top: 15em;
  padding-bottom: 2em;
}

