/* Elements */
.artistbackground {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position: center;
  border-radius: 5px;
}


.imagePositioning
{
  margin-top: auto;
}

.artistmenuimage {

  cursor: pointer;

  width: 100%;
  max-width: 9em;
  min-width: 9em;
  height: 100%;
  max-height: 9em;
  min-height: 9em;

  border: 1px solid #FEC132;
  object-fit: cover;
}




.artistmenuimage:hover {
  border: solid 4px #FEC132;
  cursor: pointer;
  width: 100%;
  max-width: 9em;
  min-width: 9em;
  height: 100%;
  max-height: 9em;
  min-height: 9em;

}

.artisttext {
  color: #FEC132;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}


.artisttext p {
  overflow: hidden;
  max-height: 6em;
  min-height: 6em;


  display: -webkit-box;
  /* number of lines to show */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.heightArtist {
  min-height: 45em;
  max-height: 45em;
}

/* Styles */

.btnStyle {
  background-color: #FEC132;
  color: black;
  padding: 1em;
  font-weight: bold;
  border: 0;
}

.bottomBorder {
  border-bottom: 2px solid #FEC132;
}

.bottomBorderRadius {
  border-radius: 0px 0px 5px 5px;
  border: 0;
}

.btnLink a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

.btnLink a:hover {
  color: #000000;
  text-decoration: none;
}


.custom {
  background-color: #171717 !important;
  border: 5px solid #171717 !important;
}

.hide {
  display: none !important;
}

.imageStyle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}


.moreSpace {
  margin-top: 6em;
}

.rightRadius {
  border-radius: 0px 5px 5px 0px !important;
  border: 0;
}

.simplelink a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.simplelink a:hover {
  color: #000000;
}

.spaceStyle {
  padding: 0.8em;
}

.show {
  display: block;
}

.thumbnailstyle {
  max-height: 15em;
  min-height: 15em;
  object-fit: cover;
}

.textmax {
  min-height: 5em;
  max-height: 5em;
}

.textlink a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.textlink a:hover {
  color: #FEC132;
}

.textStyle {
  line-height: 2em;

}

.imageSize {
  max-height: 10em;
  min-height: 10em;
  object-fit: cover;
}

/* IDs */

#artistlink {
  background-color: #FEC132;
  color: black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.2em;
}

#gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

}

/* Media Queries */

@media screen and (max-width: 375px) {
  .artistmenuimage {

    max-width: 5em;
    min-width: 5em;
    max-height: 5em;
    min-height: 5em;
  }

  .artistmenuimage:hover {
    max-width: 6em;
    min-width: 6em;
    max-height: 6em;
    min-height: 6em;
  }

}


@media screen and (max-width: 600px) {
  .artistmenuimage {

    max-width: 6em;
    min-width: 6em;
    max-height: 6em;
    min-height: 6em;
  }

  .artistmenuimage:hover {

    max-width: 6em;
    min-width: 6em;
    max-height: 6em;
    min-height: 6em;
  }

}

@media screen and (max-width: 1200px) {
  .artistmenuimage {

    max-width: 5em;
    min-width: 5em;
    max-height: 5em;
    min-height: 5em;
  }

  .artistmenuimage:hover {
    max-width: 5em;
    min-width: 5em;
    max-height: 5em;
    min-height: 5em;
  }
}